/* This is a basic CSS structure for a website with primary color #004EFF */

body {
    background-color: #004EFF;
    font-family: sans-serif, Arial;
    color: #ffffff;
}

a {
    color: #004EFF;
    text-decoration: none;
}

h1, h2, h3 {
    color: #ffffff;
}

.primary-color {
    background-color: #004EFF;
    color: #000;
}

.secondary-color {
    background-color: #007aff;
    color: #fff;
}